* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background: #FFFFFF;
    --bg-sidebar: #0D0D0D;
    --bg-link: #373737;
    --text: #707070;
    --text-active: #D0D0D0;
}

:focus {
    outline: 0;
}

body {
    background-color: var(--background);
    -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
    font-weight: 400;
    font-size: 1rem;
    color: var(--text);
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    background: transparent;
    border: 0;
}